.terms {
  background-color: #faf9f8;
  color: #222222;
}

.terms .container {
  width: 100%;
}

.terms h3 {
  font-size: 20px;
}
.terms h5 {
  font-size: 14px;
}
.terms p {
  font-size: 12px;
}

.terms ul li {
  list-style-position: inside;
  font-size: 12px;
}