.product-details-card {
    border: none;
    border-radius: 0;
  }
  
  .price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
  }
  
  .delivery-btn {
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;
  }
  
  .add-to-basket-btn,
  .add-to-favourites-btn {
    width: 40%;
    /* padding: 0.75rem; */
    border: 0;
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
  }
  
  .free-returns {
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  
  .accordion-button {
    font-weight: bold;
    font-size: 1rem;
  }
  
  .accordion-item {
    border: none;
  }
  .toast-style{margin-left: 300px !important;}
  