.purchase-terms {
  background-color: #faf9f8;
  color: #222222;
}

.purchase-terms .container {
  max-width: 1026px;
}

.purchase-terms h3 {
  font-size: 20px;
}
.purchase-terms h5 {
  font-size: 14px;
}
.purchase-terms p {
  font-size: 12px;
}

.purchase-terms ul li {
  list-style-position: inside;
}

.purchase-terms th {
  background-color: transparent !important;
  font-size: 16px;
}

.purchase-terms td {
  font-size: 13px;
  background-color: transparent !important;
}