footer {
  background-color: #e4e4e4;
  color: #222;
  font-size: 13px;
}
footer a {
  color: #222 !important;
  font-size: 13px !important;
}

footer .row a:hover {
  text-decoration: underline !important;
}

footer h6 {
  font-size: 13px !important;
}

footer #basic-addon1 {
  background-color: #222;
  color: white;
  font-size: 14px;
  width: 100px;
}

footer .input {
  font-size: 14px;
  background-color: transparent !important;
}
footer .input::placeholder {
  color: #222 !important;
  font-weight: 500;
}
footer .input:focus {
  outline: none !important;
}

footer button[aria-expanded="true"] {
  color: red !important;
}
footer button::after {
  display: none !important;
}
footer .accordion-button {
  background-color: #e4e4e4 !important;
  font-size: 13px !important;
  font-weight: bold !important;
  display: flex;
  justify-content: space-between;
}
footer .accordion-button:focus {
  outline: none !important;
  box-shadow: none !important;
}

footer .center {
  margin-top: 80px;
}

footer .center .head {
  font-size: 11px;
  font-weight: 500;
}

footer .center .head .head {
  font-weight: bold;
}

footer .last {
  font-weight: 500;
}

footer .accordion-body {
  background-color: #e4e4e4 !important;
}

footer .lang {
  font-size: 13px !important;
  font-weight: 500;
}

footer .lang .active {
  color: #6c757d !important;
}
footer .lang .non-active {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  footer .contact-us {
    width: 260px;
  }
}