.input {
    font-size: 14px;
    background-color: transparent !important;
  }

 .input:focus {
    outline: none !important;
  }
   #basic-addon1 {
    background-color: #222;
    color: white;
    font-size: 14px;
    width: 100px;}
    .container-style{
margin-top: 7rem;
margin-bottom: 7rem;

    }